@import 'reset.scss';

.photo-section-1 {
    background-image: url(../img/Background.png);
    height: 700px;
    

    .logo {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 48px;
        left: 248px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }

    .log-button {
        position: absolute;
        top: 50px;
        left: 990px;
        border: none;
        background-color: rgba(245, 222, 179, 0);
        font-style: normal;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }

    .sign-button {
        width: 90px;
        height: 36px;
        position: absolute;
        top: 40px;
        left: 1059px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        background-color: rgba(240, 255, 240, 0);
        border: 2px solid white;
        border-radius: 40px;
        align-items: center;
        color: #FFFFFF;
        text-align: center;

    }

    h1 {
        height: 126px;
        width: 470px;
        position: absolute;
        width: 470px;
        height: 126px;
        left: 485px;
        top: 223.5px;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 63px;
        text-align: center;


        color: #FFFFFF;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #F7F3F2;
        position: absolute;
        top: 378px;
        left: 522px;
    }

    .find-button {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #FFFFFF;
        width: 225px;
        height: 40px;
        background-color: #FF4E50;
        border-radius: 40px;
        border: none;
        position: absolute;
        top: 436px;
        left: 608px;
    }
}

.section-2 {
    height: 2500px;
    background-color: #fff;
    padding-left: 250px;
}

.second-block {
    width: 940px;
    height: 461px;
    margin-top: 90px;
    background-repeat: no-repeat;

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        /* identical to box height */

        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #444444;
        margin-left: 299px;

    }

    .step1 {
        background-image: url(../img/Step1image.png);
        width: 300px;
        height: 400px;
        float: left;
        margin-right: 20px;
        margin-top: 35px;

        button {
            background-color: #FF4E50;
            width: 70px;
            height: 20px;
            margin-top: 220px;
            margin-left: 25px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 2px;
            text-align: center;
            border: none;
            color: #FFFFFF;
            text-transform: uppercase;
            background: #FF4E50;
            border-radius: 40px;
        }

        h2 {
            width: 250px;
            height: 58px;
            color: #fff;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
            /* or 108% */

            display: flex;
            align-items: flex-end;
            margin-left: 25px;
            margin-top: 15px;


        }

        p {

            color: #fff;
            font-family: 'Roboto ', sans-serif;
            font-weight: lighter;
            font-size: 14px;
            margin-left: 25px;
            margin-top: 23px;
            margin-right: 25px;
            line-height: 14px;
        }
    }

    .step2 {
        width: 300px;
        height: 400px;
        float: left;
        background-image: url(../img/Step2image.png);
        margin-right: 20px;
        margin-top: 35px;

        button {
            background-color: #FF4E50;
            width: 70px;
            height: 20px;
            margin-top: 250px;
            margin-left: 25px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 2px;
            text-align: center;
            border: none;
            color: #FFFFFF;
            text-transform: uppercase;
            background: #FF4E50;
            border-radius: 40px;
        }

        h2 {
            width: 250px;
            height: 58px;
            color: #fff;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: flex-end;
            margin-left: 25px;
            margin-top: -5px;



        }

        p {

            color: #fff;
            font-family: 'Roboto ', sans-serif;
            font-weight: lighter;
            font-size: 14px;
            margin-left: 25px;
            margin-top: 15px;
            margin-right: 25px;
            line-height: 14px;
        }
    }

    .step3 {
        background-image: url(../img/Step3image.png);
        width: 300px;
        height: 400px;
        float: left;
        margin-top: 35px;


        button {
            background-color: #FF4E50;
            width: 70px;
            height: 20px;
            margin-top: 220px;
            margin-left: 25px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 2px;
            text-align: center;
            border: none;
            color: #FFFFFF;
            text-transform: uppercase;
            background: #FF4E50;
            border-radius: 40px;
        }

        h2 {
            width: 250px;
            height: 58px;
            color: #fff;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
            /* or 108% */

            display: flex;
            align-items: flex-end;
            margin-left: 25px;
            margin-top: 15px;



        }

        p {

            color: #fff;
            font-family: 'Montserrat ', sans-serif;
            font-weight: lighter;
            font-size: 14px;
            margin-left: 25px;
            margin-top: 23px;
            margin-right: 25px;
            line-height: 14px;
        }
    }

}

.block-3 {
    width: 941px;
    height: 360px;
    margin-top: 95px;



    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        width: 591px;
        height: 31px;
        margin-top: 0;
        color: #444444;
        margin-left: 226px;
    }

    &__photo1 {
        margin-left: 10px;
        float: left;
        width: 221px;
        height: 225px;
        margin-top: 35px;
        text-align: center;
        margin-right: 10px;

        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin-right: px;
            color: #444444;
            margin-top: 14px;

        }

        p {
            width: 221px;
            height: 38px;
            margin-top: 25px;
            text-align: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #666666;

        }
    }

    &__photo2 {
        float: left;
        width: 221px;
        height: 225px;
        margin-top: 35px;
        text-align: center;
        margin-right: 15px;

        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #444444;
            margin-top: 14px;
            text-align: center;

        }

        p {
            width: 221px;
            height: 38px;
            margin-top: 15px;
            text-align: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: #666666;

        }
    }

    &__photo3 {
        float: left;
        width: 221px;
        height: 225px;
        margin-top: 35px;
        text-align: center;
        margin-right: 18px;

        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #444444;
            margin-top: 14px;

        }

        p {
            width: 221px;
            height: 38px;
            margin-top: 28px;
            text-align: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #666666;

        }
    }

    &__photo4 {
        width: 221px;
        height: 225px;
        float: left;
        margin-top: 35px;
        text-align: center;


        h2 {
            font-family: 'Montserrat';
            width: 200px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;

            color: #444444;
            margin-top: 14px;
            margin-right: 45px;

        }

        p {
            width: 221px;
            height: 38px;
            margin-top: 28px;
            text-align: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #666666;

        }
    }

    &__button {
        color: navy;
        text-align: center;
        margin-left: 380px;
        margin-top: 30px;
        width: 180px;
        height: 40px;
        background: #FFFFFF;
        border: 2px solid #FF4E50;
        border-radius: 40px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        font-family: 'Montserrat', sans-serif;
        color: #FF4E50;
    }
}

.block-4 {
    width: 940px;
    height: 1031px;
    margin-top: 95px;

    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        /* identical to box height */

        display: flex;
        align-items: flex-end;
        text-align: center;
        margin-left: 264px;
        color: #444444;

    }

    &__photo1 {
        margin-right: 15px;
        margin-top: 35px;
        width: 300px;
        height: 310px;
        float: left;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/2img/11.png);
        background-color: #44444434;
    }

    &__photo2 {
        margin-right: 17px;
        margin-top: 35px;
        background-image: url(../img/2img/22.png);
        width: 300px;
        height: 310px;
        float: left;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo3 {
        margin-top: 35px;
        background-image: url(../img/2img/33333.png);
        width: 300px;
        height: 310px;
        float: left;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo4 {
        margin-top: 17px;
        width: 300px;
        height: 310px;
        margin-right: 16px;
        background-image: url(../img/2img/444.png);
        float: left;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__photo5 {
        background-image: url(../img/2img/555.png);
        width: 620px;
        height: 310px;
        float: left;
        margin-top: 17px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo6 {
        margin-right: 15px;
        width: 620px;
        height: 310px;
        margin-top: 17px;
        background-image: url(../img/2img/66.png);
        float: left;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo7 {
        width: 300px;
        height: 310px;
        background-image: url(../img/2img/777.png);
        float: left;
        margin-top: 17px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.block-5 {
    width: 482px;
    height: 158px;
    margin-left: 228px;
    margin-top: 95px;

    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #444444;
        margin-left: 62px;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 14px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        margin-top: 56px;
        margin-left: 95px;
        color: #666666;
    }

    input {
        width: 280px;
        height: 40px;
        border: 1px solid rgba(128, 128, 128, 0.507);
        padding-left: 20px;
        position: relative;
        top: 24px;
    }

    button {
        background-color: #FF4E50;
        color: #FFFFFF;
        position: relative;
        top: -19px;
        left: 310px;
        width: 172px;
        height: 40px;
        border-radius: 40px;
        border: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }

}

.footer {
    height: 254px;

    h2 {
        color: #FF4E50;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-top: 36px;
        margin-left: 249px;
    }

    &__block1 {
        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
            margin-left: 490px;
            display: flex;
            align-items: flex-end;
            color: #444444;
            margin-bottom: 10px;
            margin-top: -18px;

        }

        .ul {
            height: 156px;
            width: 111px;
        }

        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 26px;
            color: #999999;
            text-decoration: none;
            margin-left: 490px;

        }

        .terms {
            width: 160px;
        }
    }

    &__block2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: flex-end;
        color: #444444;
        margin-left: 729px;
        margin-top: -180px;

    }

    &__block3 {
        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: flex-end;
            letter-spacing: 1px;
            color: #CCCCCC;
            margin-left: 1110px;
            margin-top: -15px;
        }

        img {
            margin-left: 1080px;
            margin-top: 9px;
        }
    }
}

hr {
    background-color: #FF4E50;
    height: 1px;
    margin-top: -98px;
}






@media screen and (max-width:767px) {
    main{
        width: 100%;
    }
 
    .photo-section-1 {
        background-image: url(../img/2img/Background.png);
        width: 100%;

        .logo {
            position: absolute;
            top: 48px;
            left: 48px;
        }

        .log-button {
            top: 50px;
            left: 565px;
        }

        .sign-button {
            position: absolute;
            top: 40px;
            left: 628px;
        }

        h1 {
            left: 149px;
            top: 223.5px;
        }

        h3 {
            position: absolute;
            top: 378px;
            left: 186px;
        }

        .find-button {
            position: absolute;
            top: 436px;
            left: 291px;
        }
    }

    .section-2 {
        height: 2500px;
        background-color: #fff;
        padding-left: 10px;
    }

    .second-block {
        width: 748px;
        height: 461px;
        margin-top: 90px;
        background-repeat: no-repeat;

        &__text {
            font-size: 22px;
            margin-left: 229px;
        }



        .step1 {
            background-image: url(../img/Step1image.png);
            width: 236px;

            h2 {
                margin-top: 20px;


            }

            p {
                width: 196px;
            }

            button {
                margin-top: 205px;
            }
        }

        .step2 {
            width: 236px;

            h2 {
                width: 196px;


            }

            p {
                width: 196px;
            }

          
        }

        .step3 {
            width: 236px;


            h2 {
                width: 196px;
            }

            p {
                width: 196px;
            }
        }

    }

    .block-3 {
        width: 552px;
        height: 605px;
        margin-top: 95px;
        margin-left: 138px;
        margin-right: 138px;


        h3 {
            margin-left: 30px;
            font-size: 22px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            margin-top: 15px;
            width: 415px;
            font-weight: bold;
        }

        &__photo1 {
            width: 236px;
            margin-left: -10px;

            p {
                margin-left: -12px;
                width: 256px;
                margin-top: 24px;
            }
        }

        &__photo2 {
            width: 236px;
            margin-left: -246px;
            margin-top: 295px;

            p {
                width: 236px;

            }
        }

        &__photo3 {
            width: 236px;
            position: absolute;
            top: 1378px;
            left: 393px;

            p {
                width: 236px;
            }
        }

        &__photo4 {
            width: 236px;
            margin-left: 246px;
            margin-top: -227px;

            h2 {
                margin-left: 20px;
                margin-top: 17px;
            }

            p {
                width: 236px;
                margin-top: 23px;
            }
        }

        &__button {

            text-align: center;
            margin-left: 148px;
            margin-top: 20px;
        }
    }


    .block-4 {
        width: 748px;
        height: 1031px;
        margin-top: 95px;


        h3 {
            font-size: 22px;
            margin-left: 200px;

        }

        &__photo1 {

            width: 236px;
            height: 310px;
        }

        &__photo2 {
            width: 236px;
            height: 310px;
            margin-left: 5px;
        }

        &__photo3 {
            width: 236px;
            height: 310px;
            margin-left: 3px;
        }

        &__photo4 {
            width: 236px;
            height: 310px;
        }

        &__photo5 {
            width: 492px;
            height: 310px;
            margin-left: 3px;
        }

        &__photo6 {
            width: 492px;
            height: 310px;
            margin-top: 20px;
        }

        &__photo7 {
            width: 236px;
            height: 310px;
            margin-left: 5px;
            margin-top: 20px;
        }
    }

    .block-5 {
        width: 482px;
        height: 158px;
        margin-left: 143px;

        h3 {
            font-size: 22px;
            margin-top: 5px;
            margin-left: 80px;
        }

        p {
            margin-top: 51px;
            margin-left: 90px;
        }

        input {
            margin-left: -10px;
            padding-left: 15px;
        }

        button {
            margin-left: -12px;
        }

    }

    .footer {

        h2 {

            margin-left: 39px;
        }

        &__block1 {
            h3 {
                margin-left: 266px;


            }

            .ul {
                width: 280px;
                height: 52px;
                margin-top: 3px;
            }

            p {
                width: 280px;
                margin-left: 266px;
            }
        }

        &__block2 {
            margin-left: 436px;
            margin-top: -80px;
        }

        &__block3 {
            h3 {

                margin-left: 648px;
                margin-top: -16px;
            }

            img {
                margin-left: 618px;
                margin-top: 6px;
            }
        }
    }

    hr {
        background-color: #FF4E50;
        height: 1px;
        margin-top: 145px;
        width: 768px;
    }
}



@media screen and (max-width: 400px) {
main{
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .photo-section-1 {
        background-image: url(../img/2img/Background3.png);
        height: 540px;
        width: 320px;
        margin-left: 15px;
      
        .logo {
            position: absolute;
            top: 163px;
            left: 100px;
            color: black;
         
        }

        .log-button {
            position: absolute;
            top: 38px;
            left: 85px;

        }

        .sign-button {
            position: absolute;
            top: 27px;
            left: 155px;



        }

        h1 {

            position: absolute;
            left: 40px;
            top: 213px;
            width: 272px;
            height: 74px;
            font-size: 30px;
            line-height: 37px;
            font-weight: bold;
        }

        h3 {

            font-size: 18px;
            position: absolute;
            top: 290px;
            left: 38px;
            width: 280px;
        }

        .find-button {

            position: absolute;
            top: 357px;
            left: 36px;
            width: 280px;
        }
    }

    .section-2 {
        height: 3170px;
        width: 320px;
        background-color: #fff;
    }

    .second-block {
        width: 300px;
        height: 781px;
        margin-top: 35px;
        background-repeat: no-repeat;

        &__text {
            font-size: 22px;
            margin-left: 10px;
            margin-top: 0px;

        }

        .step1 {
            background-image: url(../img/2img/Step\ 1\ image.png);
            background-repeat: no-repeat;
            width: 300px;
            height: 240px;
            margin-top: 10px;
            margin-left: 5px;

            button {
                background-color: #FF4E50;
                margin-top: 65px;
                margin-left: 21px;
            }

            h2 {
                margin-left: 20px;
                margin-top: 45px;
                height: 30px;
                line-height: 15px;


            }

            p {
                margin-left: 20px;
                margin-top: 24px;
                width: 250px;
            }
        }

        .step2 {
            width: 300px;
            height: 240px;

            background-image: url(../img/2img/Step2\ image.png);
            margin-top: 10px;
            margin-left: 5px;

            button {
                margin-top: 95px;
                margin-left: 20px;

            }

            h2 {

                margin-left: 20px;
                margin-top: -14px;
                line-height: 15px;
                width: 200px;
            }

            p {

                margin-left: 20px;
                margin-top: 23px;
                width: 250px;
            }
        }

        .step3 {
            background-image: url(../img/2img/Step3\ image.png);
            width: 300px;
            height: 240px;
            margin-top: 10px;
            margin-left: 5px;

            button {

                margin-top: 64px;
                margin-left: 20px;
            }

            h2 {
                margin-left: 20px;
                margin-top: 17px;
                line-height: 14px;
            }

            p {
                margin-left: 20px;
                margin-top: 23px;
                width: 250px;
            }
        }

    }

    .block-3 {
        width: 300px;
        height: 1050px;
        margin-top: 54px;
        margin-left: 0px;
        margin-right: 0;



        h3 {
            width: 280px;
            font-size: 22px;
            margin-left: 10px;
            // margin-top: 26px;
            line-height: 25px;

        }

        &__photo1 {
            width: 236px;
            height: 205px;
            margin-top: 17px;
            margin-left: 35px;

            h2 {
                margin-top: 15px;
            }


            p {
                width: 256px;
                height: 38px;
                margin-top: 25px;
                margin-left: -8px;
            }
        }

        &__photo2 {
            position: absolute;
            top: 1655px;
            left: 287px;

            h2 {
                margin-top: 14px;
            }

            p {
                width: 221px;
                height: 38px;
                margin-top: 15px;
            }
        }

        &__photo3 {
            width: 236px;
            height: 224px;
            margin-top: 55px;
            position: absolute;
            top: 1655px;
            left: 40px;

            p {
                margin-top: 28px;
            }
        }

        &__photo4 {
            width: 236px;
            height: 225px;
            position: absolute;
            top: 2407px;
            left: -206px;

            h2 {
                width: 240px;
                margin-left: -10px;
            }

            p {
                width: 256px;
                margin-top: 25px;
                margin-left: -10px;
            }
        }

        &__button {
            margin-top: 753px;
            margin-left: 10px;
            width: 280px;
            height: 40px;
        }
    }

    .block-4 {
        width: 300px;
        height: 1100px;
        margin-top: 35px;

        h3 {
            font-size: 22px;
            margin-left: 17px;
            width: 250px;
        }

        &__photo1 {
            margin-left: -5px;
            margin-top: 26px;
            width: 300px;
            height: 120px;
            background-image: url(../img/111111.png);
        }

        &__photo2 {
            margin-left: -5px;
            width: 300px;
            height: 120px;
            margin-top: 10px;
            background-image: url(../img/222222222.png);
        }

        &__photo3 {
            width: 300px;
            height: 120px;
            margin-left: -5px;
            margin-top: 10px;
            background-image: url(../img/3.png);
        }

        &__photo4 {
            margin-top: 10px;
            margin-left: -5px;
            width: 300px;
            height: 120px;
            background-image: url(../img/4444.png);
        }

        &__photo5 {
            width: 300px;
            height: 120px;
            margin-left: -5px;
            margin-top: 10px;
            background-image: url(../img/555555.png);
        }

        &__photo6 {
            margin-left: -5px;
            margin-top: 10px;
            width: 300px;
            height: 120px;
            background-image: url(../img/666.png);
        }

        &__photo7 {
            width: 300px;
            height: 120px;
            margin-left: -5px;
            margin-top: 10px;
            background-image: url(../img/777.png);
        }

    }

    .block-5 {
        margin-left: -10px;
        margin-top: -80px;
        width: 300px;
        height: 192px;


        h3 {
            font-size: 22px;
            margin-left: 0;
        }

        p {

            margin-top: 13px;
            margin-left: 15px;
            width: 300px;
            color: #666666;
        }

        input {
            position: relative;
            top: 24px;
            left: 25px;
            width: 260px;
        }

        button {
            position: relative;
            top: 40px;
            left: 27px;
            width: 280px;
        }

    }

    .footer {

        width: 320px;
        height: 230px;
        margin-top: -10px;

        h2 {

            margin-top: 21px;
            margin-left: 91px;
        }

        &__block1 {
            h3 {
                margin-bottom: 10px;
                margin-top: 13px;
                margin-left: 115px;

            }

            .ul {
                text-align: center;
            }

            p {
                margin-left: 25px;
                width: 320px;
                display: inline;
                text-align: center;

            }
        }

        &__block2 {
            margin-left: 120px;
            margin-top: 6px;

        }

        &__block3 {
            h3 {
                margin-left: 110px;
                margin-top: 14px;
                width: 280px;
                text-align: center;
            }

            img {
                margin-left: 90px;
                margin-top: 9px;
            }
        }
    }

    hr {
        background-color: #FF4E50;
        height: 1px;
        margin-top: 40px;
        width: 320px;
    }


}